$orange: #F93800;
$blue: #06699E;
$bright: #F98700;
$green: #00B052;

body {
  font-family: 'Old Standard';
}

aside.site-header {

  background: $green;
  color: #fff;

}

#content {
}

.site-title {
  color: #fff;
}
